<h1>Bienvenido a su pagina de cotrol de clientes</h1>
<p>Eliga una opcion</p>
<%= link_to 'Apoderados', controller: 'apoderados' %>
<%= link_to 'Niños', controller: 'ninos' %>
<%= link_to 'Colegios', controller: 'colegios' %>
<%= link_to 'Furgones', controller: 'furgons' %>
